.main__block {
	z-index: 1;

	padding: 15px;

	width: 1500px;
	height: 750px;

	background-color: rgba(255, 255, 255, .15);
 	backdrop-filter: blur(25px);

	border-radius: 40px;
	border: 3px solid rgba(255, 255, 255, .35);

 	box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);

	.header {
		width: 100%;
		height: 100%;
		margin: 20px 40px;

		.header__menu {
			display: flex;
			justify-content: space-between;
			align-items: center;

			h1 {
				font-size: 45px;
				font-weight: 700;
				color: #4871CB;
				transition: 0.3s;
				
				&:hover {
					transform: scale(1.1);
				}
			}

			ul {
				display: flex;
				margin-right: 60px;

				li {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin-right: 60px;
					cursor: pointer;

					p {
						font-size: 18px;
						font-weight: 400;
					}
					

					span{
						height: 2.5px;
						width: 0;
						transition: 0.2s;
						margin-top: 3px;
					}

					&:hover span{
						width: 115%;
						background: #4871CB; 
					}
				}
			}
		}
	}
}